<nz-form-item class="w-100" id="{{id}}">
  <nz-form-label [nzRequired]="isRequired" [nzTooltipTitle]="tooltipTitle" [nzSpan]="labelSpan" nzFor="email">{{label}}</nz-form-label>
  <nz-form-control [nzSpan]="inputSpan" [nzWarningTip]="warningText" [nzValidatingTip]="hint"
                   [nzErrorTip]="errorText" [nzHasFeedback]="hasFeedback">
    <input [placeholder]="placeHolder" *ngIf="type!='date' && type!='select' && type!='editor' " [nzSize]="size" #inputElements1="ngModel" [disabled]="isDisabled || ngControl?.disabled"
           [(ngModel)]="value" nz-input type="{{type}}" />
    <nz-select [nzPlaceHolder]="placeHolder" [nzMode]="selectMode" *ngIf="type=='select'" [nzShowSearch]="allowSearch" [nzSize]="size"
               [nzAllowClear]="allowClear" [compareWith]="compareFn"
               #inputElements2="ngModel" [disabled]="isDisabled || ngControl?.disabled"
               [(ngModel)]="value">
      <nz-option *ngFor="let item of items" [nzValue]="bindValue?item[bindValue]:item"
                 [nzLabel]="isTranslation?(bindLabel?translate.instant(item[bindLabel]):translate.instant(item)):(bindLabel?item[bindLabel]:item)"></nz-option>
    </nz-select>
    <angular-editor #inputElements3="ngModel" [(ngModel)]="value" *ngIf="type=='editor'">

    </angular-editor>
  </nz-form-control>
</nz-form-item>
